.admin-content {
  margin-top: 20px;
}

.user-accounts,
.job-listings {
  margin-bottom: 20px;
}

.user-accounts h4,
.job-listings h4 {
  margin-bottom: 10px;
}

.user-accounts ul,
.job-listings ul {
  list-style: none;
  padding: 0;
}

.user-accounts li,
.job-listings li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-type {
  margin-right: 10px;
  font-weight: bold;
}

.user-username,
.user-email,
.job-title,
.job-employer,
.job-location {
  margin-right: 10px;
}

.delete-button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #f0f0f0;
}

.user-accounts ul, .job-listings ul {
  color: black;
}

/* Grid and List View Options */

.view-options {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.view-option {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Filter Options */

.filter-options {
  margin-bottom: 10px;
}

.filter-option {
  margin-right: 10px;
}

/* Search Box */

.search-box {
  margin-bottom: 10px;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the circle */
  margin-right: 10px;
}